body {
  margin: 0;
  font-family: 'Coming Soon', cursive;
  /* font-family: 'Open Sans', sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


